In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [3]:
df = pd.read_csv("titan.csv")

In [4]:
df.sample(1)
df.dropna()
df.shape

(891, 12)

In [5]:
from sklearn import preprocessing
import warnings
warnings.filterwarnings("ignore")

# x = df[["PassengerId","Survived","Pclass","Sex","Age","Fare"]]

In [10]:
x = df[["PassengerId","Survived","Pclass","Sex","Age"]]
l_encodr = preprocessing.LabelEncoder()
x.replace([np.inf,-np.inf],np.nan,inplace = True)
x.dropna(axis = 0,how = 'any',inplace = True)
x["Sex"] = l_encodr.fit_transform(x["Sex"])
x["Sex"] = x["Sex"] + (10**6)
x["Age"] = (x["Age"]//5)*5
print(x)
y = x["Survived"]
# y.columns = ['Survived']
x = x.drop("Survived",axis= 1)
x

     PassengerId  Survived  Pclass      Sex   Age
0              1         0       3  1000001  20.0
1              2         1       1  1000000  35.0
2              3         1       3  1000000  25.0
3              4         1       1  1000000  35.0
4              5         0       3  1000001  35.0
..           ...       ...     ...      ...   ...
885          886         0       3  1000000  35.0
886          887         0       2  1000001  25.0
887          888         1       1  1000000  15.0
889          890         1       1  1000001  25.0
890          891         0       3  1000001  30.0

[714 rows x 5 columns]

     PassengerId  Pclass      Sex   Age
0              1       3  1000001  20.0
1              2       1  1000000  35.0
2              3       3  1000000  25.0
3              4       1  1000000  35.0
4              5       3  1000001  35.0
..           ...     ...      ...   ...
885          886       3  1000000  35.0
886          887       2  1000001  25.0
887          888       1  1000000  15.0
889          890       1  1000001  25.0
890          891       3  1000001  30.0

[714 rows x 4 columns]

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [14]:
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.1)
maxx_v,dep = 0,0
for i in range(10):
#     for j in range(1,4):
    dt = DecisionTreeClassifier(max_depth=i+1)
    dt.fit(X_train,Y_train)
    pred = dt.predict(X_test)
    score = accuracy_score(pred,Y_test)
#     print(score , (i+1))
    if (maxx_v < score):
        maxx_v = score
        dep = i+1
#         f = j
# print(maxx_v,dep,f)
print(maxx_v,dep)

0.7638888888888888 3

In [16]:
dt = DecisionTreeClassifier(max_depth=2)
dt.fit(X_train,Y_train)
pred = dt.predict(X_test)
score = accuracy_score(pred,Y_test)
score

0.75